nav {
  position: fixed;
  width: 5%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #2D2D2D;

  .nav-links .nav-link-list>li>a.nav-link {
    color: #D8D8D8;

    &:hover,
    &:focus,
    &:active {
      color: lighten(#D8D8D8, 20%);
    }
  }

  ul {
    list-style: none;
  }

  .nav-link-list.right {
    float: right;
  }
}