nav {
  background-color: #2D2D2D !important;

  .navbar-brand img {
    margin-top: -5px;
  }
}

.navbar-default .navbar-nav>li>a.nav-link {
  color: #D8D8D8;

  &:hover,
  &:focus,
  &:active {
    color: lighten(#D8D8D8, 20%);
  }
}

.navbar-nav.right {
  float: right;
}

.view-container {
  position: relative;

  .view-frame {
    .home-description {
      min-height: 200px;
    }
  }
}

.ng-hide-remove,
.ng-hide-add {
  display: block !important;
}

@import 'fontello.css';
@import 'fontello-codes.css';
@import 'fontello-embedded.css';
@import 'my-animations.css';