nav {
  background-color: #2D2D2D !important;
}

.navbar-default .navbar-nav>li>a.nav-link {
  color: #D8D8D8;

  &:hover {
    color: lighten(#D8D8D8, 20%);
  }
}

.navbar-nav.right {
  float: right;
}

@import 'fontello.css';
@import 'fontello-codes.css';
@import 'fontello-embedded.css';
// @import 'animation.css';