<div class="home-loading">
  <h1>Welcome to Some Other Website</h1>
  <div class="logo">
    <img src="images/someOtherLogo.png" width="50" height="50">
  </div>
  <div class="load-percent"><span></span></div>
  <h2>Please Choose an Experience</h2>

  <ul class="the-choice">
    <li><button ng-click="$root.siteType='professional'" id="professional">Professional</button></li>
    <li><span class="askew"><button ng-click="$root.siteType='unprofessional'" id="unprofessional">Unprofessoinal</button></span></li>
  </ul>

</div>
