<div class="jumbotron" ng-controller="CollapseController">
  <h1>Hey there!</h1>
  <div class="btn-group">
    <button ng-click="setSection('welcome')"><h3>Welcome to my site!</h3></button>

    <button ng-click="setSection('takeALook')"><h3>Take a look around.</h3></button>
  </div>

</div>

<div class="home-description" ng-show="section == 'welcome'">
  <p>This is my very own <em>personalized</em> site. Here I can put all the different things I have been working on. It might be a bit eccletic, but then so am I. Hopefully it's easy enough to find exactly what you are looking for without too much trouble.</p>
  <p>If you like what you see here please feel free to contact <a href="mailto:jayant.gandhi127@gmail.com">me</a>. I ususally respond pretty quickly to emails and I'm always looking for a cool new project to sink my teeth into. So please explore some other website and get to know a little bit more about me.</p>
</div>

<div class="home-description" ng-show="section == 'takeALook'">
  <p>Take a look around at what I've been up to lately. </p>
</div>

<div id="">

</div>