<div ng-cloak class="container">
  <ol class="odd">
    <a href="/sites"><li class="hex"><h3>My Sites</h3></li></a>
    <a href="/curriculum-vitae"><li class="hex"><h3>My Curriculum Vitae</h3></li></a>
    <a href="/publications"><li class="hex"><h3>My Publications</h3></li></a>
  </ol>
  <ol class="even">
    <a target="_blank" href="https://www.github.com/jayantgandhi"><li class="hex"><h3 class="icon-github"></h3></li></a>
    <a target="_blank" href="https://www.linkedin.com/in/jaygandhi1"><li class="hex"><h3 class="icon-linkedin"></h3></li></a>
  </ol>
</div>
