<div class="home-button">
  <a href="/"><img src="images/someOtherLogo.png" width="50" height="50"></a>
</div>

<div class="tab">

	<ul class="tabs">
		<li><a href="#">Bio</a></li>
		<li><a href="#">Education</a></li>
		<li><a href="#">Experience</a></li>
	</ul> <!-- / tabs -->

	<div class="tab_content">

		<div class="tabs_item">
			<img src="images/jay.jpg" class="headshot">
			<h4>Jay Gandhi</h4>
			<p>Born and raised in NYC with family and friends spread around the globe, pursuing a focus in international relations came naturally to me. Combining that with my love for technology has led to many interesting challenges and opportunities. I love picking up new languages (both human and non-human) and doing my best to understand complex situations from outside of my cultural perspective. While generally optimistic about the value of new technology, I am a proponent of a healthy dose of skeptism and taking a step back in order to assess the larger picture. On any given project my go to question is "What makes this X different from any other?" in an attempt to cut to the heart of why it is worth doing. When I am not working on bringing tech and international relations closer together, I enjoy doing improv and making short films.</p>
		</div> <!-- / tabs_item -->

		<div class="tabs_item">
			<img class="alignleft max_width" alt="SAIS and Georgetown" src="images/twoschools.png">
      <h4>Johns Hopkins Paul H. Nitze School of Advanced International Studies</h4>
      <h5>2014-2016</h5>
      <p>
        Masters of Arts in International Relations &amp; International Economics
      </p>
      <p>
        GPA: 3.5
      </p>
      <p>
        Concentration: General International Relations with a Minor in Energy Resources and the Environment
      </p>
      <p>
        Spent first year at the Bologna, Italy campus, passing language proficiency in Italian.
      </p>
      <hr>
      <h4>Georgetown University Edmund A. Walsh School of Foreign Service</h4>
      <h5>2009-2013</h5>
      <p>
        Bachelors of Science in Science, Technology &amp; International Affairs
      </p>
      <p>
        GPA: 3.7
      </p>
      <p>
        Honors Thesis: <em>Cyber Weapons and Nuclear Options: Can Lessons from the Nuclear Experience Provide Answers in Cyberspace</em>
      </p>
      <p>
        Study Abroad: Universidad de San Francisco Quito - Quito, Ecuador (Summer 2010) &amp; University of Alexandria - Alexandria, Egypt (Summer 2011)
      </p>
		</div> <!-- / tabs_item -->

		<div class="tabs_item">
      <a href="/documents/resume-jay-gandhi.pdf" target="_blank">Click Here For My Current Resume</a>
			<img src="images/experience.png">
			<h4>Game Designer - The World Bank Group</h4>
      <h5>October 2015 - Present</h5>
      <p>
        Led game design work for Evoke, a collaborative and social game aimed at developing 21<sup>st</sup> Century skills for social innovation. The work included running tests with target demographic in Soacha, Colombia (in Spanish) and coordinating with the development team in Brazil.
      </p>
      <hr>
      <h4>Full Stack Developer - Thrillist Media Group</h4>
      <h5>November 2013 - July 2014</h5>
      <p>
        Web Developer working in PHP, Javascript, HTML, &amp; CSS on the Thrillist Media Group websites (Thrillist.com, Jackthreads.com, and Supercompressor.com). Worked closely with both design and content teams in order to develop and test new content delivery forms.
      </p>
      <hr>
      <h4>Founding Member/CTO - AngelRoot Inc.</h4>
      <h5>August 2013 - Present</h5>
      <p>
        Worked with four other co-founders to create a new investment discovery/curation platform in order to better link investors and entrepreneurs around the world. As a founding member, responsibilities have ranged from the technical (designing site architecture) to the business facing (figuring out marketing and revenue stream structure).
      </p>
      <hr>
      <h4>Executive Producer/Artistic Director - The Georgetown Improv Association</h4>
      <h5>August 2010 - May 2013</h5>
      <p>
        Headed Georgetown's only improv comedy team, managing both the artistic and logistical aspects of yearly programs including our monthly shows, weekly practices, and annual improv festival.
      </p>
		</div> <!-- / tabs_item -->

	</div> <!-- / tab_content -->
</div> <!-- / tab -->
